body{
    background-color:bisque;
}

h1{
    text-align: center;
}
h1, h2{
    background-color: white;
}
button, li{
    margin: 1em;
    padding: 1em;
}

.Home-Button{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: 0;
}

img{
    display: block;
    margin: 0 auto
}


